<div class="card" style="width: 18rem;">
    <div class="card-body">
        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" aria-describedby="emailHelp">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
        </form>
    </div>
</div>